<main id="content" class="site-main">
    <div class="carrer-page-section" id="sponsors">
        <div class="container">
            <div class="about-service-wrap">
                <div class="row">
                    <div class="section-heading text-center">
                        <h5 class="dash-style">SPONSORS</h5>
<!--                        <p>Check who make this event possible</p>-->
                    </div>
                <div class="about-service-container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 1</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 2</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 3</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 4</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 5</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-service">
                                <div class="about-service-icon">
                                    <h2>Sponsor 6</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>