<app-header></app-header>
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(assets/images/koutoubia.jpg);">
            <div class="container" id ="registration">
                <div class="inner-banner-content">
                    <h1 class="inner-title">Submission</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->
    <div class="content-container">
        <div class="submission-container" id="submission">
            <ul>
              <li>Scientific papers should not exceed 6-10 pages.</li>
              <li>Practical papers should not exceed 4-8 pages.</li>
              <li>Discussion Papers should not exceed 2 pages.</li>
              <li>All Scientific papers, Practical papers and Discussion Papers must follow the <a href="https://www.springer.com/gp/authors-editors/conference-proceedings/editors/word-template/19338734">Springer template</a> in order to be published.</li>
              <li>All submissions should be written in English.</li>
              <li>All submissions will be double-blind, peer-reviewed, and evaluated based on originality, technical and/or research content/depth, correctness, relevance to the conference, contributions, and readability.</li>
            </ul>
            <p>Please submit your papers exclusively through the <a href="https://easychair.org/my/conference?conf=sil24">EasyChair Platform</a> for a streamlined and efficient submission process.</p>
        </div>
    </div>
<app-footer></app-footer>