.service-content-wrap{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(129, 129, 129, 0.15);
    margin: 5px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.service-content-wrap:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  }