<section class="inner-banner-wrap">
    <div class="inner-baner-container" style="background-image: url(assets/images/committee.jpg);">
        <div class="container">
            <div class="inner-banner-content">
                <h1 class="inner-title">Our Special Committees</h1>
            </div>
        </div>
    </div>
</section>
<div class="container" >
<div class="section-heading text-center" id="committee">
  <div class="row">
      <div class="col d-flex justify-content-center">
          <div class="col-lg-12">
              <h5 class="dash-style">Organizing chairs</h5>
          </div>
    </div>
  </div>
</div>
  </div>
<div class="fullwidth-callback" >
  <div class="container">
    <div class="callback-counter-wrap">
      <div class="counter-item">

        <div class="counter-item-inner">

            <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">General chair</span>
                                 </span>
                <span class="counter-text"> Mr. BENMOUSSA Rachid</span>
                <p><i class="fa-regular fa-envelope"></i> r.benmoussa&#64;uca.ac</p>

            </div>
        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
            <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Production chair </span>
                                 </span>
                <span class="counter-text">Ms. BENAZZOUZ Touria </span>
                <p><i class="fa-regular fa-envelope"></i> t.benazzouz&#64;uca.ma </p>
            </div>

        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
            <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Scientific chair</span>
                                 </span>
                <span class="counter-text"> Ms. BOUYAHIA Fatima </span>
                <p><i class="fa-regular fa-envelope"></i> f.bouyahia&#64;uca.ac.ma</p>

            </div>

        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
            <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Logistic chair</span>
                                 </span>
                <span class="counter-text"> Ms. DAHBI Samia</span>
                <p><i class="fa-regular fa-envelope"></i> s.dahbi&#64;uca.ma</p>

            </div>

        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
            <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Industrial chair </span>
                                 </span>
                <span class="counter-text"> Mr. IRHIRANE Elhassan</span>
                <p><i class="fa-regular fa-envelope"></i> e.irhirane&#64;uca.ac.ma </p>
            </div>
        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
          <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Financial chair </span>
                                 </span>
            <span class="counter-text">Ms. ESSABER Fatima Ezzahra</span>
            <p><i class="fa-regular fa-envelope"></i> essaberfatimaezzahra&#64;gmail.com </p>
          </div>
        </div>
      </div>
        <div class="counter-item">
            <div class="counter-item-inner">
                <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Logistic chair </span>
                                 </span>
                    <span class="counter-text">Ms. ELHAROUNI Fatine</span>
                    <p><i class="fa-regular fa-envelope"></i> f.elharouni&#64;uca.ac.ma </p>
                </div>
            </div>
        </div>
        <div class="counter-item">
            <div class="counter-item-inner">
                <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">Financial chair </span>
                                 </span>
                    <span class="counter-text">Mr. DAKKAK Bader</span>
                    <p><i class="fa-regular fa-envelope"></i> b.dakkak&#64;gmail.com </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
