.inner-banner-wrap .inner-baner-container {
  width: 100vw; /* Sets the width to full viewport width */
  position: relative; /* Relative positioning for absolute child elements */
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.section-heading.text-center {
  margin-bottom: 10px;
}

.fullwidth-callback .row {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.fullwidth-callback .counter-item {
  flex: 0 0 calc(33.333% - 30px); 
  margin: 15px; 
  background-color: rgba(174, 148, 109, 0.8); 
  margin: 0.5rem;
  padding: 1rem;
  color: #000000;
  border-radius: 10px;
  border: 2px solid rgba(129, 129, 129, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fullwidth-callback .counter-item:hover {
  transform: translateY(-5px);
  position: relative;
  z-index: 10;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

.fullwidth-callback .counter-title{
  color: #000000;
}

.fullwidth-callback .counter-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fullwidth-callback .counter-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem; 
}

.fullwidth-callback .counter-name {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.fullwidth-callback .counter-email {
  font-size: 0.9rem;
}

.fullwidth-callback .counter-email .email-link {
  color: #000000; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.fullwidth-callback .counter-email .email-link:hover {
  color: #9e1f63; 
}


@media (max-width: 767px) {
  .fullwidth-callback .counter-item {

    flex: 0 0 100%;
    margin: 10px 5px; 
    padding: 1rem; 
  }

  .fullwidth-callback .counter-item .counter-title,
  .fullwidth-callback .counter-item .counter-name,
  .fullwidth-callback .counter-item .counter-email {
    text-align: center;
    word-break: break-word;
  }
}



