<section class="inner-banner-wrap">
    <div class="inner-baner-container" style="background-image: url(assets/images/committee.jpg);">
        <div class="container">
            <div class="inner-banner-content">
                <h1 class="inner-title">Our Special Committees</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="section-heading text-center" style="padding: 2rem 0;">
    <h5 class="dash-style">ORGANIZING CHAIRS</h5>
    <h2>Empowering Leadership, Shaping Futures</h2>
  </div>


  <div class="container-fluid" >
    <div class="row fullwidth-callback">
      <div class="col-lg-4 col-md-6" *ngFor="let chair of chairs">
        <div class="counter-item">
          <div class="counter-item-inner">
            <h3 class="counter-title">{{ chair.title }}</h3>
            <div class="counter-name">{{ chair.name }}</div>
            <div class="counter-email">
              <a href="mailto:{{ chair.email }}" class="email-link">
                <i class="fa-regular fa-envelope"></i> {{ chair.email }}
              </a>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>