

<main id="content" class="site-main">

    <div class="container" id="gallery">
<!--        <div class="about-service-wrap">-->
            <div class="section-heading">
                <div class="row no-gutters align-items-end">
                    <div class="row">
                        <div class="section-heading text-center">
                            <h5 class="dash-style">Our GALLERY</h5>
                            <p>Explore memorable moments from past events through our gallery .</p>
                        </div>
                </div>
<!--            </div>-->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
            <div class="carousel-item active" [class.active]="index === 0">
                <img src="assets/images/12.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 1">
                <img src="assets/images/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 2">
                <img src="assets/images/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item " [class.active]="index === 3" >
                <img src="assets/images/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 4">
                <img src="assets/images/5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 5">
                <img src="assets/images/6.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item " [class.active]="index === 6">
                <img src="assets/images/7.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 7">
                <img src="assets/images/8.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 8">
                <img src="assets/images/9.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item " [class.active]="index === 9" >
                <img src="assets/images/10.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 10">
                <img src="assets/images/11.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" [class.active]="index === 11">
                <img src="assets/images/2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev"  role="button" data-slide="prev" (click)="previous()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next"  role="button" data-slide="next" (click)="next()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
                </div>
        </div>
    </div>
</main>