<section id="about-us" data-bgcolor="#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-aos="fade-right" data-aos-duration="2000">
        <img src="assets/images/screen-1.png" class="img-responsive" alt="">
      </div>

      <div class="col-md-6 wow fadeInRight" data-aos="fade-left" data-aos-duration="2000">
        <div class="section-heading">
          <h5 class="dash-style">ABOUT US</h5>
          <h2>The International Conference on Industrial and Logistics Systems (SIL’24)</h2>
          <p>SIL’24 is a multidisciplinary conference which brings together academics and industrials interested in industrial engineering topics. It thus aims the Design and Efficient Operation (Optimization, Improvement, Restructuring, Evaluation, etc.) of a broad scope of Industrial and Logistics Systems. SIL’24 mainly focuses on the four complementary views of the industrial and logistics system: the Operational view, the Informational view, the Technological view and the Decision-making view supported mainly by Industry 4.0 technologies.</p>
          <p>SIL’24 is an edition that places particular emphasis on Cyber-Physical Production and Logistics Systems research. Related research works or professional applications would be more appreciated.</p>
        </div>
      </div>
    </div>
  </div>            
</section>
