<footer id="colophon" class="site-footer footer-primary">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <aside class="widget widget_text">
            <h3 class="widget-title">
              About Us
            </h3>
            <div class="textwidget widget-text">
              The 7th edition of the International Conference on Industrial and
              Logistics Systems (SIL’24)
              Under the theme:
              « Cyber Physical Production and Logistics Systems »
              From October 17 to 19, 2024
            </div>
          </aside>
        </div>
        <div class="col-lg-4 col-md-6">
          <aside class="widget widget_text">
            <h3 class="widget-title">Quick Links</h3>
            <div class="textwidget widget-text">
              <ul>
                <li>
                  <a href="#">
                    Home
                  </a>
                </li>
                <li>
                  <a href="#important-date" >
                    Important Dates
                  </a>
                </li>
                <li>
                  <a href="#special-sessions">
                  Special Sessions
                  </a>
                </li>

                <li>
                  <a href="#gallery">
                  Gallery
                  </a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-lg-4 col-md-6" id="contact">
          <aside class="widget widget_text">
            <h3 class="widget-title">Contact Us</h3>
            <div class="textwidget widget-text">
              <ul>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    (+212)0524434745
                </li>
                <li>
                    <i class="fa-solid fa-fax"></i>
                    (+212)0524434740
                </li>
                <li>
                  <a href="https://www.ensa.ac.ma/" >
                    <i class="fa-solid fa-globe"></i>
                    www.ensa.ac.ma
                  </a>
                </li>
                <li>
                  <a href="#map"><i class="fas fa-map-marker-alt"></i>
                  Avenue Abdelkrim Khattabi,Guéliz Marrakech
                  </a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="buttom-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">

        </div>
        <div class="col-md-2 text-center">
          <div class="footer-logo">
            <a href="#"><img src="assets/images/White-logo.png" alt="Logo"></a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="copy-right text-right">Copyright © 2024 . All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>

