<footer id="colophon" class="site-footer footer-primary">
  <div class="container">
    <div class="footer-content">
      <!-- Logo on the left -->
      <div class="footer-logo">
        <a href="#"><img src="assets/images/White-logo.png" alt="Logo"></a>
      </div>
      
      <!-- Navigation in the center -->
      <div class="footer-nav">
        <ul>
          <li><a href="#about-us">About us</a></li>
          <li><a href="#important-dates">Important Dates</a></li>
          <li><a href="#speakers-section">Speakers</a></li>
          <li><a href="/committee">Committees</a></li>
        </ul>
      </div>
      
      <!-- Copyright on the right -->
      <div class="copy-right">
        Copyright © 2024. All rights reserved.
      </div>
    </div>
  </div>
</footer>
