<section id="speakers-section">
  <div class="section-heading">
    <div class="row no-gutters align-items-end">
        <div class="row">
            <div class="section-heading text-center" data-aos="fade" data-aos-duration="1000">
                <h5 class="dash-style">Our Speakers</h5>
            </div>
        </div>
    </div>
  </div>    
  <div class="container speaker-section" data-aos="fade-zoom-in" data-aos-duration="1500">
      <div class="row">
        <div class="col-md-3" *ngFor="let speaker of speakers">
          <div class="speaker-card">
            <div class="speaker-image">
              <img [src]="speaker.imageUrl" alt="{{ speaker.name }}">
            </div>
            <div class="speaker-info">
              <h3>{{ speaker.name }}</h3>
              <p class="speaker-role">{{ speaker.role }}</p>
            </div>
            <div class="speaker-overlay">
              <p class="speaker-description">{{ speaker.description }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>      
</section>