<app-header></app-header>
<main id="content" class="site-main">
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(../../../assets/images/committee.jpg);">
            <div class="container">
                <div class="inner-banner-content">
                    <h1 class="inner-title">Our Special Speakers</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Inner Banner html end-->

    <div class="testimonial-page-section">
        <div class="container">
            <h2>Speakers</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Mr. Speaker 1</h3>
                            <span>Role 1 </span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Ms. Speaker 2</h3>
                            <span>Role 2</span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Ms. Speaker 3</h3>
                            <span>Role 3</span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Ms. Speaker 4</h3>
                            <span>Role 4</span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Mr. Speaker 5</h3>
                            <span>Role 5</span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="testimonial-item text-center">
                        <figure class="testimonial-img">
                            <img src="../../../assets/images/profil.png" alt="">
                        </figure>
                        <div class="testimonial-content">
                            <h3>Ms. Speaker 6</h3>
                            <span>Role 6</span>
                            <p>...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>