<section class="special-section" id="important-dates">
  <div class="container">
    <div class="section-heading text-center" data-aos="fade" data-aos-duration="1000">
      <h5 class="dash-style">Important Dates</h5>
    </div>
    <div class="dates-container" data-aos="fade-zoom-in" data-aos-duration="1500">
      <div class="date-entry">
        <div class="date-title">Full Paper Submission Deadline:</div>
        <div class="date-crossed-out">05 May 2024</div>
        <div class="date-info-non-crossed">30 June 2024</div>
      </div>
      <div class="date-entry">
        <div class="date-title">Authors Notification:</div>
        <div class="date-crossed-out">3rd June 2024</div>
        <div class="date-info-non-crossed">28 July 2024</div>
      </div>
      <div class="date-entry">
        <div class="date-title">Camera-Ready Submission:</div>
        <div class="date-info">1st September 2024</div>
      </div>
      <div class="date-entry">
        <div class="date-title">Conference Date:</div>
        <div class="date-info">From October 17 to 19, 2024</div>
      </div>
    </div>
  </div>
</section>